* {
    box-sizing: border-box;
}

.page-wrap {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 100px;
}

div.sticky {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99;
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
}

@media only screen and (max-width: 812px) {
    .main-story,
    .main-story img {
        width: 525px;
    }
}

@media only screen and (max-width: 540px) {
    .main-story,
    .main-story img {
        width: 250px;
        height: 350px;
    }
}

img {
    display: block;
}

a {
    color: lightblue;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
}

h1 {
    font-size: 4em;
}
h1, h2 {
    margin: 0 0 10px 0;
}

.story-intro h1 {
    font-size: 2.5em;
}
.story-intro p {
    margin: 0;
}

.sub-stories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 25px 0;
}

.sub-story {
    float: left;
    width: 250px;
    margin-right: 25px;
    margin-bottom: 25px;
    position: relative;
    font-size: 80%;
}

.last {
    margin-right: 0;
}